@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.remove-scroll {
  overflow: hidden;
}

/* Product View Table CSS
#view-product-table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-collapse: collapse;
}

#view-product-table th,
#view-product-table td {
  padding: 10px 20px;
  color: white;
} */

/* Scroll Remove */
